body {
    background-image: url(./sahara\ desert.jpg);
    background-size: cover;
  }
  .header {
    /* border: 2px solid black; */
    height: 110px;
    width: 100%;
  }

  .p a{
    color: white;
    text-decoration: none;
  }
  
  #logo {
    height: 70px;
    width: 77px;
    position: absolute;
    top: 28px;
    left: 135px;
  }
  .top {
    position: absolute;
    width: 33%;
    right: 60px;
    top: 60px;
    word-spacing: 80px;
    display: flex;
  }

  .p {
    display: inline;
    color: white;
    text-decoration: none;
  }
  .menu {
    margin-left: 70px;
    margin-top: -12px;
  }
  .mdiv {
    display: flex;
    /* border: 2px solid black; */
    width: 100%;
    height: auto;
    align-items: center;
  }
  .sahara {
    font-size: 12px;
    margin-left: 90px;
    margin-right: 150px;
    color: white;
  }
  .sa {
    font-size: 115px;
  }
  .p2 {
    font-size: 15px;
    line-height: 46px;
  }
  
  #button {
    width: 240px;
    height: 52px;
    padding: 5px;
    font-size: 24px;
    background-color: white;
    border-radius: 50px;
  }
  
  .parent {
    display: flex;
    /* border: 2px solid black; */
    flex-wrap: wrap;
    width: 100%;
  }
  .box1 {
    background-image: url(./western.jfif);
    background-size: cover;
    /* border: 2px solid black; */
  }
  .box2 {
    background-image: url(./pic-2.png);
    background-size: cover;
    /* border: 2px solid black; */
  }
  .box3 {
    background-image: url(./pic-3.png);
    background-size: cover;
    /* border: 2px solid black; */
  }
  .box4 {
    background-image: url(./pic-4.png);
    background-size: cover;
    /* border: 2px solid black; */
  }
  
  .box {
    border-radius: 17px;
    height: 270px;
    width: 280px;
    margin: 10px;
    line-height: 38px;
    color: white;
    padding: 15px;
  }
  .box:hover {
    transform: translateY(-20px);
  }
  
  @media only screen and (min-width: 300px) and (max-width: 600px) {
    #button {
    background-color: white;
    }
    .top {
      position: absolute;
      width: 70%;
      left: 178px;
      top: 61px;
      word-spacing: 20px;
    }
  
    #logo {
      height: 70px;
      width: 75px;
      position: absolute;
      top: 28px;
      left: 35px;
    }
  
    .menu {
      position: absolute;
      width: 80%;
      left: 190px;
      top: 1px;
      word-spacing: 20px;
      display: block;
    }
    .sahara {
      margin-left: 25px;
      margin-right: 150px;
      display: inline;
      color: white;
    }
    .sa {
      font-size: 30px;
    }
    .mdiv {
      display: block;
      /* border: 2px solid black; */
      width: 115%;
      height: auto;
      align-items: ;
    }
  
    .box {
      border-radius: 17px;
      height: 251px;
      width: 70%;
      margin: 71px;
      line-height: 38px;
      color: white;
      padding: 5px;
    }
  }